<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">  
  <ul class="navbar-nav">
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/empleado-list" class="nav-link">Empleados</a></li>
    <li><a *ngIf="loginService.isUserLoggedIn()" routerLink="/departamento-list" class="nav-link">Departamentos</a></li>
    <li><a *ngIf="!loginService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
 
  </ul>
  
  </nav>
  
  </header>